stripe-subscriptions-payments-salesforce-npsp/Stripe Recurring-only Payment -_ Salesforce Opportunity (Update).json
{
  "name": "Stripe Recurring-only Payment -> Salesforce Opportunity (Update)",
  "nodes": [
    {
      "parameters": {
        "events": [
          "invoice.payment_succeeded",
          "charge.refunded"
        ]
      },
      "type": "n8n-nodes-base.stripeTrigger",
      "typeVersion": 1,
      "position": [
        -880,
        352
      ],
      "id": "f0bc08de-0429-401a-8e3a-e363a8bb3c15",
      "name": "Stripe Trigger",
      "webhookId": "95a3e7db-7b32-49ba-9613-4beb50936de6",
      "credentials": {
        "stripeApi": {
          "id": "xgFOP8hK7ZrCQY3u",
          "name": "Stripe Production"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "FndFdWLb5zwaFyTr",
          "mode": "list",
          "cachedResultUrl": "/workflow/FndFdWLb5zwaFyTr",
          "cachedResultName": "Subflow: Salesforce find existing recurring donation"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "stripe_subscription_id": "={{ $('Get Stripe Invoice Expanded').item.json.subscription.id }}",
            "access_paysuite_urn": "={{ $('Get Stripe Invoice Expanded').item.json.subscription.metadata.access_paysuite_urn }}",
            "stripe_customer_id": "={{ $('Get Stripe Invoice Expanded').item.json.customer.id }}",
            "amount": "={{ $('Prepare Fields').item.json.amount_in_currency }}",
            "currency_iso_code": "={{ $('Get Stripe Invoice Expanded').item.json.charge.currency }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "access_paysuite_urn",
              "displayName": "access_paysuite_urn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stripe_subscription_id",
              "displayName": "stripe_subscription_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "stripe_customer_id",
              "displayName": "stripe_customer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "currency_iso_code",
              "displayName": "currency_iso_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        16,
        256
      ],
      "id": "770c1c5d-207e-43cb-ad70-3eddcd44a93e",
      "name": "Call 'Subflow: Salesforce find existing recurring donation'"
    },
    {
      "parameters": {
        "resource": "search",
        "query": "=SELECT Id, ContactId, npe03__Recurring_Donation__c, Amount, CloseDate, StageName, Stripe_Charge_ID__c\nFROM Opportunity \nWHERE\n  (npe03__Recurring_Donation__c = '{{ $json.recurring_donation_id }}' AND npe03__Recurring_Donation__c NOT IN('', NULL))\n  AND (Amount = {{ $('Call \\'Subflow: Salesforce find existing recurring donation\\'').item.json.recurring_donation_amount }})\n  AND (CloseDate >= {{ $('Prepare Fields').item.json.created_at_minus_3_days }} AND CloseDate <= {{ $('Prepare Fields').item.json.created_at_plus_7_days }})\n  \nLIMIT 5"
      },
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        240,
        256
      ],
      "id": "13256c02-d900-4337-9ffa-f21843bf2ab7",
      "name": "Find Opportunity",
      "alwaysOutputData": true,
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "vYUVhtWVblv4vfIl",
          "name": "Salesforce Production Integration User (n8n_user)"
        }
      }
    },
    {
      "parameters": {
        "resource": "opportunity",
        "operation": "update",
        "opportunityId": "={{ $json.Id }}",
        "updateFields": {
          "amount": "={{ $('Prepare Fields').item.json.amount_in_currency }}",
          "closeDate": "={{ $('Prepare Fields').item.json.closed_at }}",
          "customFieldsUi": {
            "customFieldsValues": [
              {
                "fieldId": "Invoice_Number__c",
                "value": "={{ $('Get Stripe Invoice Expanded').item.json.number }}"
              },
              {
                "fieldId": "Stripe_Charge_ID__c",
                "value": "={{ $('Get Stripe Invoice Expanded').item.json.charge.id }}"
              },
              {
                "fieldId": "Interface_Platform__c",
                "value": "Stripe"
              },
              {
                "fieldId": "Receipt_ID__c",
                "value": "={{ $('Get Stripe Invoice Expanded').item.json.receipt_number || '' }}"
              },
              {
                "fieldId": "Gateway_Fee__c",
                "value": "={{ $('Prepare Fields').item.json.processing_fee }}"
              },
              {
                "fieldId": "Net_Donation__c",
                "value": "={{ $('Prepare Fields').item.json.net_amount }}"
              },
              {
                "fieldId": "Payment_Platform__c",
                "value": "={{ $('Get Stripe Invoice Expanded').item.json.payment_intent.payment_method_types[0] }}"
              },
              {
                "fieldId": "Refund_Amount__c",
                "value": "={{ $('Prepare Fields').item.json.refund_amount }}"
              },
              {
                "fieldId": "=LeadSource",
                "value": "BOS Website"
              }
            ]
          },
          "stageName": "={{ $('Prepare Fields').item.json.opportunity_stage }}"
        }
      },
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        688,
        256
      ],
      "id": "3f99c603-43d3-48a9-987a-f010f051b2a1",
      "name": "Update an opportunity",
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "vYUVhtWVblv4vfIl",
          "name": "Salesforce Production Integration User (n8n_user)"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.stripe.com/v1/invoices/{{ $json.data.object.invoice || $json.data.object.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stripeApi",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "{\n  \"expand\": [\n    \"subscription\",\n    \"subscription.default_payment_method\",\n    \"customer\",\n    \"default_payment_method\",\n    \"payment_intent.charges.data\",\n    \"payment_intent.charges.data.balance_transaction\",\n    \"charge\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -656,
        352
      ],
      "id": "26ee9aef-5f41-4296-8455-7f0342bc716a",
      "name": "Get Stripe Invoice Expanded",
      "credentials": {
        "stripeApi": {
          "id": "xgFOP8hK7ZrCQY3u",
          "name": "Stripe Production"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b8dfacc-39c9-4d91-a105-8eba1ca40986",
              "name": "created_at",
              "value": "={{\n  (() => {\n    const createdTimestampSeconds = $input.first().json?.created;\n    if (!createdTimestampSeconds) return null;\n\n    return DateTime.fromMillis(createdTimestampSeconds * 1000).toISODate();\n  })()\n}}",
              "type": "string"
            },
            {
              "id": "ea37b2d3-df57-440e-b5d9-8b043739ed39",
              "name": "created_at_minus_3_days",
              "value": "={{\n  (() => {\n    const createdTimestampSeconds = $input.first().json?.created;\n    if (!createdTimestampSeconds) return null;\n\n    return DateTime.fromMillis(createdTimestampSeconds * 1000).minus({ days: 3 }).toISODate();\n  })()\n}}",
              "type": "string"
            },
            {
              "id": "e26691a8-1dd3-4bcb-985e-6d203767e62f",
              "name": "created_at_plus_7_days",
              "value": "={{\n  (() => {\n    const createdTimestampSeconds = $input.first().json?.created;\n    if (!createdTimestampSeconds) return null;\n\n    return DateTime.fromMillis(createdTimestampSeconds * 1000).plus({ days: 7 }).toISODate();\n  })()\n}}",
              "type": "string"
            },
            {
              "id": "203c665f-67a7-4faa-bef0-928dcef9c652",
              "name": "opportunity_stage",
              "value": "={{\n  (() => {\n    const stripeEvent = $('Stripe Trigger').first().json;\n    const eventType = stripeEvent?.type;\n    const refundAmountCents = stripeEvent?.data?.object?.amount_refunded ?? 0;\n    const chargeAmountCents = stripeEvent?.data?.object?.amount ?? 0;\n\n    if (eventType === 'invoice.payment_succeeded') return 'Closed Won';\n    if (eventType === 'charge.refunded') {\n      return refundAmountCents < chargeAmountCents ? 'Closed Won' : 'Closed Lost';\n    }\n\n    return null;\n  })()\n}}",
              "type": "string"
            },
            {
              "id": "7eeb620a-d2e0-4fc7-be9c-f56ff435fa0a",
              "name": "amount_in_currency",
              "value": "={{\n  (() => {\n    const invoice = $('Get Stripe Invoice Expanded').first().json;\n    const amountPaidCents = invoice?.amount_paid;\n\n    return amountPaidCents != null ? amountPaidCents / 100 : null;\n  })()\n}}",
              "type": "number"
            },
            {
              "id": "fb32d60f-dc5b-4363-9018-c4e2e1315697",
              "name": "processing_fee",
              "value": "={{\n  (() => {\n    const invoice = $('Get Stripe Invoice Expanded').first().json;\n    const balanceTransaction = invoice?.payment_intent?.charges?.data?.[0]?.balance_transaction;\n    const processingFeeCents = balanceTransaction?.fee;\n\n    return processingFeeCents != null ? processingFeeCents / 100 : null;\n  })()\n}}",
              "type": "number"
            },
            {
              "id": "63501cbc-8b2b-4933-af1e-16aae415dd81",
              "name": "refund_amount",
              "value": "={{\n  (() => {\n    const stripeEvent = $('Stripe Trigger').first().json;\n    const refundAmountCents = stripeEvent?.data?.object?.amount_refunded;\n\n    return refundAmountCents != null ? refundAmountCents / 100 : null;\n  })()\n}}",
              "type": "number"
            },
            {
              "id": "cc0c80e4-e050-4aca-bb57-8700278eaea9",
              "name": "net_amount",
              "value": "={{\n  (() => {\n    const invoice = $('Get Stripe Invoice Expanded').first().json;\n    const balanceTransaction = invoice?.payment_intent?.charges?.data?.[0]?.balance_transaction;\n    const originalNetCents = balanceTransaction?.net;\n\n    if (originalNetCents == null) return null;\n\n    const stripeEvent = $('Stripe Trigger').first().json;\n    const eventType = stripeEvent?.type;\n    const refundAmountCents = stripeEvent?.data?.object?.amount_refunded ?? 0;\n\n    const originalNet = originalNetCents / 100;\n    const refundAmount = refundAmountCents / 100;\n\n    if (eventType === 'charge.refunded') return originalNet - refundAmount;\n\n    return originalNet;\n  })()\n}}",
              "type": "number"
            },
            {
              "id": "4f6dd9d3-3d4e-4c53-a651-0977dfb6e016",
              "name": "query_stripe_charge_id",
              "value": "={{\n  (() => {\n    const stripeEvent = $('Stripe Trigger').first().json;\n    const eventType = stripeEvent?.type;\n\n    if (eventType === 'invoice.payment_succeeded' || eventType === 'invoice.payment_failed') {\n      return 'NULL';\n    }\n\n    const invoice = $('Get Stripe Invoice Expanded').first().json;\n    const chargeId = invoice?.charge?.id;\n\n    return chargeId ? \"'\" + chargeId + \"'\" : null;\n  })()\n}}",
              "type": "string"
            },
            {
              "id": "92551cee-4838-4a31-9285-9c24ba2f3447",
              "name": "closed_at",
              "value": "={{   \n  (() => {\n    const createdTimestampSeconds = $json.status_transitions.paid_at || $input.first().json?.created;     \n    \n    if (!createdTimestampSeconds) return null;\n    \n    return DateTime.fromMillis(createdTimestampSeconds * 1000).toISODate();\n  })()\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -432,
        352
      ],
      "id": "cb51c2c8-3ef8-4aa9-b5f4-323971f9da03",
      "name": "Prepare Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Find Opportunity').all().filter(item => Object.keys(item.json || {}).length > 0).length }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "ea8e28ff-c2cd-4482-8e6a-a2f033bd8c14"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "not found"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6dbf1165-b62f-4db5-b172-6c6a836b5f58",
                    "leftValue": "={{ $('Find Opportunity').all().filter(item => Object.keys(item.json || {}).length > 0).length }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1 found"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "05c65866-573e-46f5-bc60-cbafd8724c59",
                    "leftValue": "={{ $('Find Opportunity').all().filter(item => Object.keys(item.json || {}).length > 0).length }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "more than 1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        464,
        240
      ],
      "id": "2f1aa866-ee34-4be1-b4f5-20ccc3d3c21c",
      "name": "Switch"
    },
    {
      "parameters": {
        "errorMessage": "No Opportunity found!"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        688,
        64
      ],
      "id": "c635ee87-0cc0-4a36-a5b4-14ee8fdc3ced",
      "name": "Stop and Error: No Opp Found"
    },
    {
      "parameters": {
        "errorMessage": "More than 1 Opportunity found!"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        688,
        448
      ],
      "id": "5b881027-1789-459f-a241-c45670e029fc",
      "name": "Stop and Error: More than 1 Opportunity found"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c717e212-95b1-4f86-8138-cf7a3b6e8cbb",
              "leftValue": "={{ $('Get Stripe Invoice Expanded').item.json.subscription.metadata.access_paysuite_urn }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -208,
        352
      ],
      "id": "9fe97831-bef5-48c9-8f0a-1dde84f5b01e",
      "name": "If access_paysuite_urn is set"
    },
    {
      "parameters": {
        "errorMessage": "Subscription with no access_paysuite_urn!"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        16,
        448
      ],
      "id": "ac5624ca-e548-4126-b944-e51432866a12",
      "name": "Stop and Error: no access_paysuite_urn"
    }
  ],
  "pinData": {
    "Stripe Trigger": [
      {
        "json": {
          "id": "evt_1SQaYUC1p3mfV07Rf1w4INhh",
          "object": "event",
          "api_version": "2019-03-14",
          "created": 1762463838,
          "data": {
            "object": {
              "id": "in_1SOSSbC1p3mfV07RWQamHdWS",
              "object": "invoice",
              "account_country": "GB",
              "account_name": "Borneo Orangutan Survival UK",
              "account_tax_ids": null,
              "amount_due": 500,
              "amount_overpaid": 0,
              "amount_paid": 500,
              "amount_remaining": 0,
              "amount_shipping": 0,
              "application": null,
              "application_fee_amount": null,
              "attempt_count": 1,
              "attempted": true,
              "auto_advance": false,
              "automatic_tax": {
                "disabled_reason": null,
                "enabled": false,
                "liability": null,
                "provider": null,
                "status": null
              },
              "automatically_finalizes_at": null,
              "billing": "charge_automatically",
              "billing_reason": "subscription_cycle",
              "charge": "py_3SOTSaC1p3mfV07R1A5RNOLk",
              "collection_method": "charge_automatically",
              "created": 1761956065,
              "currency": "gbp",
              "custom_fields": null,
              "customer": "cus_MpBpswxc5EBPgN",
              "customer_address": null,
              "customer_email": "ljbrewis@hotmail.com",
              "customer_name": "Linda Brewis",
              "customer_phone": null,
              "customer_shipping": null,
              "customer_tax_exempt": "none",
              "customer_tax_ids": [],
              "default_payment_method": null,
              "default_source": null,
              "default_tax_rates": [],
              "description": "BOS-UK Monthly Adoption / BRE10071047\nReassigned from Jelapat to Monyo\nThank you for your support!",
              "discount": null,
              "discounts": [],
              "due_date": null,
              "effective_at": 1761959907,
              "ending_balance": 0,
              "footer": null,
              "from_invoice": null,
              "hosted_invoice_url": "https://invoice.stripe.com/i/acct_1EZcQ1C1p3mfV07R/live_YWNjdF8xRVpjUTFDMXAzbWZWMDdSLF9UTDhrWDlqR2RGcGlBZUtMWk5oajN4VzdNWlloa3c0LDE1MzAwNDYzOA0200vjJtd5J6?s=ap",
              "invoice_pdf": "https://pay.stripe.com/invoice/acct_1EZcQ1C1p3mfV07R/live_YWNjdF8xRVpjUTFDMXAzbWZWMDdSLF9UTDhrWDlqR2RGcGlBZUtMWk5oajN4VzdNWlloa3c0LDE1MzAwNDYzOA0200vjJtd5J6/pdf?s=ap",
              "issuer": {
                "type": "self"
              },
              "last_finalization_error": null,
              "latest_revision": null,
              "lines": {
                "object": "list",
                "data": [
                  {
                    "id": "sli_1665ffC1p3mfV07Rcf58f0ae",
                    "object": "line_item",
                    "amount": 500,
                    "amount_excluding_tax": 500,
                    "currency": "gbp",
                    "description": "1 × BOS-UK Monthly Adoption | Monyo (at £5.00 / month)",
                    "discount_amounts": [],
                    "discountable": true,
                    "discounts": [],
                    "invoice": "in_1SOSSbC1p3mfV07RWQamHdWS",
                    "livemode": true,
                    "metadata": {},
                    "parent": {
                      "invoice_item_details": null,
                      "subscription_item_details": {
                        "invoice_item": null,
                        "proration": false,
                        "proration_details": {
                          "credited_items": null
                        },
                        "subscription": "sub_1MA0DTC1p3mfV07RpTFNvIug",
                        "subscription_item": "si_NyefViHtTveEMv"
                      },
                      "type": "subscription_item_details"
                    },
                    "period": {
                      "end": 1764547200,
                      "start": 1761955200
                    },
                    "plan": {
                      "id": "price_1M98LIC1p3mfV07RmXTAiSEj",
                      "object": "plan",
                      "active": true,
                      "aggregate_usage": null,
                      "amount": 500,
                      "amount_decimal": "500",
                      "billing_scheme": "per_unit",
                      "created": 1669645796,
                      "currency": "gbp",
                      "interval": "month",
                      "interval_count": 1,
                      "livemode": true,
                      "metadata": {},
                      "meter": null,
                      "nickname": null,
                      "product": "prod_MsF3CTcOhsXUGP",
                      "tiers": null,
                      "tiers_mode": null,
                      "transform_usage": null,
                      "trial_period_days": null,
                      "usage_type": "licensed"
                    },
                    "pretax_credit_amounts": [],
                    "price": {
                      "id": "price_1M98LIC1p3mfV07RmXTAiSEj",
                      "object": "price",
                      "active": true,
                      "billing_scheme": "per_unit",
                      "created": 1669645796,
                      "currency": "gbp",
                      "custom_unit_amount": null,
                      "livemode": true,
                      "lookup_key": null,
                      "metadata": {},
                      "nickname": null,
                      "product": "prod_MsF3CTcOhsXUGP",
                      "recurring": {
                        "aggregate_usage": null,
                        "interval": "month",
                        "interval_count": 1,
                        "meter": null,
                        "trial_period_days": null,
                        "usage_type": "licensed"
                      },
                      "tax_behavior": "unspecified",
                      "tiers_mode": null,
                      "transform_quantity": null,
                      "type": "recurring",
                      "unit_amount": 500,
                      "unit_amount_decimal": "500"
                    },
                    "pricing": {
                      "price_details": {
                        "price": "price_1M98LIC1p3mfV07RmXTAiSEj",
                        "product": "prod_MsF3CTcOhsXUGP"
                      },
                      "type": "price_details",
                      "unit_amount_decimal": "500"
                    },
                    "proration": false,
                    "proration_details": {
                      "credited_items": null
                    },
                    "quantity": 1,
                    "subscription": "sub_1MA0DTC1p3mfV07RpTFNvIug",
                    "subscription_item": "si_NyefViHtTveEMv",
                    "tax_amounts": [],
                    "tax_rates": [],
                    "taxes": [],
                    "type": "subscription",
                    "unique_id": "il_1SOSSbC1p3mfV07RD6R4sM12",
                    "unit_amount_excluding_tax": "500"
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/invoices/in_1SOSSbC1p3mfV07RWQamHdWS/lines"
              },
              "livemode": true,
              "metadata": {},
              "next_payment_attempt": null,
              "number": "BA059A0A-0036",
              "on_behalf_of": null,
              "paid": true,
              "paid_out_of_band": false,
              "parent": {
                "quote_details": null,
                "subscription_details": {
                  "metadata": {},
                  "subscription": "sub_1MA0DTC1p3mfV07RpTFNvIug"
                },
                "type": "subscription_details"
              },
              "payment_intent": "pi_3SOTSaC1p3mfV07R1xS8Xf1m",
              "payment_settings": {
                "default_mandate": null,
                "payment_method_options": null,
                "payment_method_types": null
              },
              "period_end": 1761955200,
              "period_start": 1759276800,
              "post_payment_credit_notes_amount": 0,
              "pre_payment_credit_notes_amount": 0,
              "quote": null,
              "receipt_number": null,
              "rendering": {
                "amount_tax_display": null,
                "pdf": null,
                "template": null,
                "template_version": null
              },
              "rendering_options": null,
              "shipping_cost": null,
              "shipping_details": null,
              "starting_balance": 0,
              "statement_descriptor": null,
              "status": "paid",
              "status_transitions": {
                "finalized_at": 1761959907,
                "marked_uncollectible_at": null,
                "paid_at": 1762463835,
                "voided_at": null
              },
              "subscription": "sub_1MA0DTC1p3mfV07RpTFNvIug",
              "subscription_details": {
                "metadata": {}
              },
              "subtotal": 500,
              "subtotal_excluding_tax": 500,
              "tax": null,
              "tax_percent": null,
              "test_clock": null,
              "total": 500,
              "total_discount_amounts": [],
              "total_excluding_tax": 500,
              "total_pretax_credit_amounts": [],
              "total_tax_amounts": [],
              "total_taxes": [],
              "transfer_data": null,
              "webhooks_delivered_at": 1761956065
            }
          },
          "livemode": true,
          "pending_webhooks": 1,
          "request": {
            "id": null,
            "idempotency_key": null
          },
          "type": "invoice.payment_succeeded"
        }
      }
    ]
  },
  "connections": {
    "Stripe Trigger": {
      "main": [
        [
          {
            "node": "Get Stripe Invoice Expanded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Subflow: Salesforce find existing recurring donation'": {
      "main": [
        [
          {
            "node": "Find Opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Opportunity": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Stripe Invoice Expanded": {
      "main": [
        [
          {
            "node": "Prepare Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Fields": {
      "main": [
        [
          {
            "node": "If access_paysuite_urn is set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Stop and Error: No Opp Found",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update an opportunity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error: More than 1 Opportunity found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If access_paysuite_urn is set": {
      "main": [
        [
          {
            "node": "Call 'Subflow: Salesforce find existing recurring donation'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error: no access_paysuite_urn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedPerExecution": 3,
    "errorWorkflow": "BMQVRuI2h2GyQk6W"
  },
  "versionId": "e4ba4f28-1311-47fd-bd02-d0e5f34897c6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "25a37804ede9d68f787ab090dd35e4c7cce064c70e0bdff01da9a7fb71cba76b"
  },
  "id": "ticvgwoVKhoDuAem",
  "tags": []
}